<h1>Iniciar sesión</h1>

<%= form_tag login_path, method: :post do %>
  <% if flash[:alert] %>
    <div style="color: red">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div>
    <%= label_tag :login, "Email o nombre de usuario" %>
    <%= text_field_tag :login, params[:login] %>
  </div>

  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <%= submit_tag "Entrar" %>
<% end %>